$media-list-border-radius: 3px;
$media-list-item-width: 400px;
$media-list-button-width: 40px;
$media-list-item-margin-side: 10px;

.media-list {
  &__wrapper {
    width: 95%;
    margin: 1rem 0;
  }
  &__title {
    font-weight: 400;
    margin: 0;
    padding: 0.5rem 2rem;
    color: $color-white;
  }

  &__container {
    position: relative;
    min-height: 100px;
    padding: 0;
    border-radius: $media-list-border-radius;
    background-color: $color-black;
    width: 100%;
    overflow: hidden;
  }

  &__button {
    position: absolute;
    top: (9 / 16) * $media-list-item-margin-side;
    height: calc(100% - (9 / 16) * 2 * #{$media-list-item-margin-side});
    width: $media-list-button-width;
    background-color: rgba(32, 32, 32, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-gray;
    transition: background-color 0.3s;
    &--hover {
      &:hover {
        color: white;
        cursor: pointer;
        background-color: rgba(64, 64, 64, 0.9);
      }
    }

    &-left {
      left: 0;
    }
    &-right {
      right: 0;
    }
  }

  &__space-container {
    position: relative;
    width: 100%;
  }

  &__space {
    position: absolute;
    left: $media-list-button-width + $media-list-item-margin-side;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    transition: left 0.3s;
    transition-timing-function: ease-in-out;
  }
}

.media-list-item {
  &__wrapper {
    width: $media-list-item-width;
    height: 9/16 * $media-list-item-width;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__container {
    position: relative;
    background-color: $color-white;
    border-radius: $media-list-border-radius;
    height: calc(100% - (9 / 16) * 2 *#{$media-list-item-margin-side});
    width: calc(100% - 2 * #{$media-list-item-margin-side});
    transition: background-color 0.5s;
    transition-timing-function: ease-in-out;
    &--hover {
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: $media-list-border-radius;
      background-color: black;
      opacity: 0;
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.3;
        cursor: pointer;
      }
    }
  }

  &__image {
    position: absolute;
    border-radius: $media-list-border-radius;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  &__missing-image {
    position: absolute;
    border-radius: $media-list-border-radius;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      font-weight: 100;
      margin: 0;
    }
  }
  &__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: 100;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.93));
  }
}
