.ottlogo {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    // background-color: red;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  // &__icon {
  //   background-color: yellow;
  // }

  &__text {
    margin: 0;
    font-weight: 400;
    position: relative;
    top: 2%;
  }
}
