.font-color--black {
  color: black;
}

.font-color--primary {
  color: $color-primary;
}

.font-color--primary-light {
  color: $color-primary-light;
}

.font-color--secondary {
  color: $color-secondary;
}

.font-color--secondary-light {
  color: $color-secondary-light;
}
