@use "sass:color";

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;

$color-white: white;
$color-gray: #d9d9d9;
$color-gray-light: #f0f0f0;

$color-background: #f0fff1;

$color-primary: #b3e9c7;
$color-primary-light: #c2f8cb;
$color-primary-dark: #96c39e;

$color-secondary: #392768;
$color-secondary-light: #8367c7;
$color-secondary-light-hover: #6b50af;
